# Set default behaviour to automatically normalize line endings
* text=auto eol=lf

# Explicitly declare text files
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.py text eol=lf
*.rs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.css text eol=lf
*.html text eol=lf

# Declare binary files
*.epub binary
*.pdf binary
*.wav binary
*.mp3 binary
*.flac binary
*.ogg binary
*.m4a binary
*.m4b binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.exe binary
*.dll binary
*.so binary
*.dylib binary
